[submodule "hackatonbb"]
	path = hackatonbb
	url = https://github.com/zZENiro/hackatonbb
[submodule "bot-vk"]
	path = bot-vk
	url = https://github.com/zZENiro/bot-vk
[submodule "YaroslavlHackaton-frontend"]
	path = YaroslavlHackaton-frontend
	url = https://github.com/QuickOkay/YaroslavlHackaton-frontend
